<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <h1><%= @session.title %></h1>
    <p><%= @session.description %></p>

    <small class="text-muted">
      These photos are purposefully pixelated. For high resolution photos, please purchase individually.
    </small>

    <% @session.images.each do |image| %>
      <%= link_to new_session_charge_path(@session, image: image) do %>
        <%= image_tag image.variant(resize_to_limit: [300, 300]), width: "100%", class: "my-3" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'users/user', user: @session.user, buttons: true %>

<% if current_user == @session.user %>
  <%= link_to 'Edit', edit_session_path(@session), class: "btn btn-primary btn-block my-2" %>
  <%= link_to 'Back', sessions_path, class: "btn btn-primary btn-block my-2" %>
<% end %>
