<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group py-1">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group py-1">
    <%= form.label "User Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="row py-1">
    <div class="col-2">
      <%= form.label :current %>
      <%= render "users/avatar", user: user %>
    </div>
    <div class="col-10">
      <div class="form-group">
        <%= form.label :avatar %>
        <%= form.file_field :avatar, multiple: false, direct_upload: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group py-1">
    <%= form.label :biography %>
    <%= form.text_area :biography, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary my-1 btn-block col-12" %>
  </div>
<% end %>
