<div class="card my-2">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6 col-6 py-3">
        <%= render 'users/avatar', user: user %>
      </div>
      <div class="col-lg-10 col-md-6 col-sm-6 col-6 py-1">
        <% if user.biography %>
          <small class="text-muted"><%= user.biography %></small>
        <% end %>

        <p class="card-text">
          <small class="text-muted">
            <% if user.name %>
              <strong>Username:</strong> <%= user.name %><br>
            <% end %>
            <strong>Member Since:</strong> <%= user.created_at.strftime('%b %Y')  %><br>
          </small>
        </p>
      </div>
    </div>
    <% if buttons %>
      <div class="row">
        <div class="col">
          <%= link_to "Public Profile", user_path(user), class: "btn btn-primary btn-block col-12 my-1" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
