<p id="notice"><%= notice %></p>

<%= render "user", user: @user, buttons: false %>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-block col-12 my-1" %>
  <%= link_to 'Back', users_path, class: "btn btn-primary btn-block col-12 my-1" %>
<% end %>

<% @user.sessions.each do |session| %>
  <%= render "sessions/session", session: session %>
<% end %>
