<section class="mt-6">
  <div class="container">
    <%= render "user", user: @user, buttons: false %>

    <% if current_user == @user %>
      <%= link_to 'Dashboard', root_path, class: "btn btn-success btn-block col-12 my-1" %>
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-block col-12 my-1" %>
      <%= link_to 'Back', users_path, class: "btn btn-primary btn-block col-12 my-1" %>
    <% end %>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <% @user.sessions.each do |session| %>
        <div class="col mt-5">
          <div class="card h-100 shadow-light hover-lift-light">
            <!-- Featured image -->
            <a href="#!" class="bg-cover h-250 rounded-top" style="background-image: url('assets/img/unsplash/6.jpeg');"></a>
            <%= image_tag session.images.first %>
            <div class="card-body">
              <%= link_to session_path(session), class: "h4 text-dark text-decoration-none" do %>
                <%= session.title %>
              <% end %>
            </div>

            <!-- Author -->
            <div class="card-bottom-info">
              <div class="avatar avatar-sm">
                <img src="assets/img/uifaces/5.jpg" class="avatar-image rounded-circle" alt="">
              </div>
              <span class="text-uppercase-xs text-muted ms-2">
                David Gilmour
              </span>
              <div class="text-uppercase-xs text-muted ms-auto">
                <i class="far fa-calendar relative-top--1"></i>
                May 11
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>