<section class="mt-6">
  <div class="container">
    <div class="row">
      <div class="<%= common_column_spacing %>">
        <%= render "user", user: @user, buttons: false %>
        <%= link_to "Get Started", root_path, class: "btn btn-primary col-12" %>
      </div>
    </div>


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 pb-5">
      <% if @user.sessions.count == 0 %>
        <div class="<%= common_column_spacing %> py-3">This user has not yet created photo session.</div>
      <% else %>
        <% @user.sessions.reverse.each do |session| %>
          <div class="col mt-5">
            <div class="card shadow-light hover-lift-light">
              <%= image_tag session.images.sample unless session.images.empty? %>
              <div class="card-body">
                <%= link_to session_path(session), class: "h4 text-dark text-decoration-none" do %>
                  <%= session.title if session.title %>
                <% end %>
                <p>
                  <%= session.created_at.strftime("%B %-d, %Y") %>
                </p>
                <p>
                  Session Photos (<%= session.images.count %>)
                </p>
                <p>
                  <%= session.description if session.description %>
                </p>
                <%= link_to "See More", session_path(session), class: "btn btn-primary col-12" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>