<div class="container">
  <div class="row">
    <div class="<%= common_column_spacing %>">

      <% if current_user %>
        <% if @past_sessions.count > 0 %>
          <%= render "sessions/list_past_sessions", past_sessions: @past_sessions %>
        <% else %>
          <%= link_to "Click! here to start selling your photography", new_session_path, class: "btn btn-primary my-3" %>
        <% end %>
        <h3 class="py-3">Purchases</h3>

        <% if @purchases.count > 0 %>
          <% @purchases.each do |charge| %>
            <%= render 'charges/charge', charge: charge %>
          <% end %>
        <% else %>

          <p>
            You have not purchased any photography yet. To explore photography for sale,
            <%= link_to "explore here", explore_path %>.
          </p>
        <% end %>
      <% else %>
        <%= render "stranger_content" %>
        <%= render "sessions/list_past_sessions", past_sessions: @past_sessions %>
      <% end %>
    </div>
  </div>
</div>
