<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-5">
        <p><%= charge.session.title %></p>
        <span class="badge rounded-pill bg-success text-end">Payment Successful #<%= charge.id %></span>
      </div>
      <div class="col-lg-5">
        <p>
          Purchaser: 
          <% if charge.purchaser %>
            <%= charge.purchaser.slug %>
          <% else %>
            Unknown user
          <% end %>
        </p>
        <p><%= time_ago_in_words charge.created_at %></p>
      </div>
      <div class="col-lg-2">
        <%= link_to charge do %>
          <%= image_tag ActiveStorage::Attachment.find(charge.asset_id), width: "100%" %>
        <% end %>
      </div>
    </div>
  </div>
</div>