<div class="container">
  <section class="mt-5 mt-md-7">
    <div class="row align-items-center py-5">
      <div class="col-md-6 pe-lg-5">

        <h1 class="display-4 fw-normal">
          ImageHawk <%= image_tag 'image-hawk-logo.png', width: "40px" %>
        </h1>

        <h2 class="mt-4">
          Sell your surf photography online
        </h2>
      </div>

      <div class="col-md-6 position-relative mt-5 mt-md-0 ps-lg-5">
        <%= render "devise/sessions/login_form", resource: @resource, resource_name: @resource_name, devise_mapping: @devise_mapping %>
        <div class="col-12 d-flex justify-content-center">
        <hr>
        <%= link_to "Create new account", new_user_registration_path, class: "btn btn-success center my-1" %>
        </div>
      </div>
    </div>
  </section>

  <div class="row py-5">
    <div class="col-4 animate-on-scroll">
      <%= image_tag "stranger-page/feature-1.png", width: "100%" %>
    </div>
    <div class="col-4 animate-on-scroll">
      <%= image_tag "stranger-page/feature-2.png", width: "100%" %>
    </div>
    <div class="col-4 animate-on-scroll">
      <%= image_tag "stranger-page/feature-3.png", width: "100%" %>
    </div>
  </div>
</div>