<!doctype html>
<html lang="en">
  <head>
    <title>ImageHawk: Tools to Help You Sell Your Photography and Make More Money as a Photographer</title>
    <meta name="description" content="A place to sell your photography online. Upload your photography and share low resolution versions for sale to the public.">
    <link rel="canonical" href="https://www.imagehawk.app/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-white">
    <%= render "layouts/notifications" %>
    <%= yield %>
  </body>
</html>
