<!doctype html>
<html lang="en">
  <head>
    <title>ImageHawk: Tools to Help You Sell Your Photography and Make More Money as a Photographer</title>
    <meta name="description" content="A place to sell your photography online. Upload your photography and share low resolution versions for sale to the public.">
    <link rel="canonical" href="https://www.imagehawk.app/">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= render "users/account_management_tools" if current_user %>
      <%= yield %>
    </div>
  </body>
</html>
